.button1 {
  position: relative;
  padding: 0.7rem;
  margin-top: 0.7rem;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  background-color:rgb(42, 67, 111);
  border-radius: 10px;
}

.button1:hover,
.button1:active {
  background-color: rgb(107, 136, 185);
  border-color: rgb(107, 136, 185);
}

.list {
  height: min-content;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: auto;
  margin-top: 1rem;
  margin-bottom: 0rem;
  padding:0px;
  border-radius: 8px ;
}


