.form {
  display: flex;
  flex-direction: row;
}
.searchField {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.searchButton {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.searchButton img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
