.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchField {
  color: rgb(42, 67, 111);
  width: 10em;
  padding: 10px 35px 10px 20px;
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 1.7em;
  font-weight: 500;
  justify-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.searchField::placeholder {
  color: rgba(0, 0, 0, 0.301);
}

.searchButton {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -50px;
}

.searchButton img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
